* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-conteiner{
  width: 85%;
  margin: 0 auto;
  padding-top: 25px;
  position: relative;
  min-height: 300px;
}

.img-description{
  display: inline-block;
  position: relative;
}

.img-number{
  position: relative;
  display: inline-block;
}

.card-img{
  width: 536px;
  left: 0;
  top: 0;
}

.wallpaper-img.card-img{
  position: absolute;
  display: none;
}

.img-number:hover .card-img.wallpaper-img{
  display: block;
}

.cuore{
  position: absolute;
  top: 30px;
  right: 0;
  background-color: rgba(255,255,255,255);
  padding: 15px;
  border-bottom-left-radius: 6px;
  color: white;
}

.overlay-red, .overlay-green{
  display: block;
  position: absolute;
  bottom: 16px;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.overlay-red{
  background-color: rgba(235,0,55,255);
  width: 45px;
  left: 0px;
}

.overlay-green{
  background-color: rgba(0,135,90,255);
  width: 90px;
  left: 50px;
}

.through{
  text-decoration: line-through;
  font-weight: bold;
}

.red-number{
  color: red;
  font-weight: bold;
}

.overlay{
  display: block;
  position: absolute;
  bottom: 16px;
  padding: 5px;
  color: white;
  font-weight: bold;
  background-color: rgba(0,135,90,255);
}
  


